#page-content {
    /* Included from the basic theme. */
    img.align-left, .figure.align-left, object.align-left {
        clear: left;
        float: left;
        margin-right: 1rem;
    }

    img.align-right, .figure.align-right, object.align-right {
        clear: right;
        float: right;
        margin-left: 1rem;
    }

    img.align-center, .figure.align-center, object.align-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.align-default, .figure.align-default {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        max-width: 100%;
    }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-default {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    code {
        color: #24909d;
        font-size: 0.8rem;
    }

    /* Custom styles. */
    .code-tabs {
        & {
            margin: 1rem 0;
        }

        .code-tabs-labels {
            display: flex;
        }

        .code-tab-label {
            & {
                @extend .font-title;
                padding: 0.2rem 1rem;
                cursor: pointer;
            }

            &.active {
                background-color: #202020;
                color: white;
            }

            &:hover {
                background-color: #404040;
                color: white;
            }

            &.code-tab-distro {
                background-repeat: no-repeat;
                background-position: 0.5rem center;
                background-size: 1rem;
                padding-left: 2rem;
                padding-right: 0.6rem;
            }

            &.code-tab-distro-fedora {
                background-image: url('../images/distro-fedora.svg');
            }

            &.code-tab-distro-rhel {
                background-image: url('../images/distro-rhel.svg');
            }

            &.code-tab-distro-ubuntu {
                background-image: url('../images/distro-ubuntu.svg');
                background-size: 1.3rem;
                background-position: 0.4rem center;
                padding-left: 1.9rem;
            }

        }

        .code-tab {
            display: none;
        }

        .code-tab.active {
            display: block;
        }

        .code-block {
            margin: 0;
        }
    }

    .code-block {
        & {
            margin: 1rem 0;
        }

        .highlight {
            & {
                overflow-x: auto;
            }

            > pre {
                padding: 1rem;
                margin: 0;
            }

            .hll {
                display: block;
            }
        }

        .highlighttable {
            & {
                border-collapse: collapse;
                background-color: #202020;
            }

            .linenos {
                color: #d0d0d0;
                padding-left: 1rem;
            }

            .code {
                width: 100%;
            }
        }
    }

    .code-block-caption, .code-tabs-caption {
        @extend .font-title;
        padding-left: 1rem;
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
        border-bottom: 0.0625rem dotted $caption-delimiter-color;
    }

    .graphviz {
        margin: 2rem;
    }

    .mermaid {
        & {
            margin: 2rem;
            text-align: center;
        }

        svg {
            height: 100%;
        }
    }

    ul p, ol p {
        margin: 0;
    }

    article > table {
        & {
            border-collapse: collapse;
            border: 0;
            margin: 1rem auto;
        }

        th {
            background-color: $color-main;
        }

        th, td {
            & {
                border: 0;
                padding: 0.2rem 0.5rem;
            }

            *:first-child {
                margin-top: 0;
            }

            *:last-child {
                margin-bottom: 0;
            }
        }

        tr:nth-child(even) {
            background-color: rgba($color-main, 0.1);
        }
    }

    .contents {
        > p {
            @extend .font-title;
            display: block;
            font-size: 1.2rem;
            border-bottom: 0.0625rem dotted $color-text;;
            padding-bottom: 0.5rem;
            margin: 0;
        }

        ul {
            @extend .font-content;
            counter-reset: item;
            list-style: none !important;
            font-size: 0.8rem;
            padding-left: 1.5rem;
        }

        > ul {
            margin-top: 0.5rem;
            padding-left: 0 !important;
        }

        ul p {
            display: inline-block;
            padding-left: 0.4rem;
        }

        li:before {
            display: inline-block;
            content: counters(item, ".") " ";
            counter-increment: item;
            font-family: monospace;
        }
    }

    ol {
        & {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        > li::marker {
            font-family: monospace;
        }
    }

    .admonition {
        .admonition-title {
            @extend .font-title;
            margin: 0;
            margin-bottom: 1rem;
            padding: 0.5rem;
        }

        & {
            @extend .font-content;
            margin: 1rem 0;
            padding-top: 0;
            padding-bottom: 1rem;
        }

        & > :not(.admonition-title) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & > .admonition-title + * {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .admonition.note {
        .admonition-title {
            background-color: #5f91d3aa;
        }

        & {
            background-color: #5f91d377;
            border-bottom: 0.3rem solid #5f91d3aa;
        }
    }

    .admonition.warning {
        .admonition-title {
            background-color: #e4d04eaa;
        }

        & {
            background-color: #e4d04e77;
            border-bottom: 0.3rem solid #e4d04eaa;
        }
    }

    .admonition.seealso {
        .admonition-title {
            background-color: #89d35faa;
        }

        & {
            background-color: #89d35f77;
            border-bottom: 0.3rem solid #89d35faa;
        }
    }

    ul.simple {
        &, ul {
            padding-left: 2rem;
            list-style: square;
        }

        ul {
            padding-left: 1rem;
        }
    }

    dl {
        & {
            margin: 1rem;
        }

        dt {
            margin-top: 0.5rem;
            font-weight: bold;
        }

        dd {
            & {
                margin: 0 1rem;
            }

            *:first-child {
                margin-top: 0;
            }

            *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
